'.text.tex.latex':
# preamble and package/class file
  "RequirePackage":
    "prefix": "Pkg"
    "body": "\\\\RequirePackage$2{${1:package name}}$0"
  "usepackage":
    "prefix": "pkg"
    "body": "\\\\usepackage$2{${1:package name}}$0"

# document level
  'part':
    'prefix': 'part'
    'body': '\\\\part{${1:part name}}\n$0'
  'chapter':
    'prefix': 'chapter'
    'body': '\\\\chapter{${1:chapter name}}\n$0'
  'section':
    'prefix': 'section'
    'body': '\\\\section{${1:section name}}\n$0'
  'subsection':
    'prefix': 'subsection'
    'body': '\\\\subsection{${1:subsection name}}\n$0'
  'subsubsection':
    'prefix': 'subsubsection'
    'body': '\\\\subsubsection{${1:subsubsection name}}\n$0'
  'paragraph':
    'prefix': 'paragraph'
    'body': '\\\\paragraph{${1:paragraph name}}\n$0'
  'subparagraph':
    'prefix': 'subparagraph'
    'body': '\\\\subparagraph{${1:subparagraph name}}\n$0'

# environement
  '\\begin{}...\\end{}':
    'prefix': 'begin'
    'body': '\\\\begin{${1:env}}$2\n\t$0\n\\\\end{${1:env}}'
  'align(*)':
    'prefix': 'align'
    'body': '\\\\begin{align$1}\n\t$0\n\\\\end{align$1}'
  'description':
    'prefix': 'description'
    'body': '\\\\begin{description}\n\t\\\\item[$1]$0\n\\\\end{description}'
  'enumerate':
    'prefix': 'enumerate'
    'body': '\\\\begin{enumerate}\n\t\\\\item $0\n\\\\end{enumerate}'
  'equation(*)':
    'prefix': 'equation'
    'body': '\\\\begin{equation$1}\n\t$0\n\\\\end{equation$1}'
  'figure':
    'prefix': 'figure'
    'body': '\\\\begin{figure}\n\t\\\\includegraphics$2{${1:/path/to/figure}}\n\t\\\\caption{$3}\n\t\\\\label{$4}\n\\\\end{figure}'
  'gather(*)':
    'prefix': 'gather'
    'body': '\\\\begin{gather$1}\n\t$0\n\\\\end{gather$1}'
  'itemize':
    'prefix': 'itemize'
    'body': '\\\\begin{itemize}\n\t\\\\item $0\n\\\\end{itemize}'
  'table':
    'prefix': 'table'
    'body': '\\\\begin{table}\n\t\\\\caption{$1}\n\t\\\\label{$3}\n\t$2\n\\\\end{table}'
  'tabular':
    'prefix': 'tabular'
    'body': '\\\\begin{tabular}{${1:column alignment}}\n\t$0\n\\\\end{tabular}'

# element
  'inline math - $$':
    'prefix': 'inline'
    'body': '$$1$$0'

# math, taken from  https://github.com/SublimeText/LaTeXTools/blob/master/LaTeX%20math.sublime-completions
'.text.tex.latex .string.other.math':
  'math italic':
    'prefix': 'it'
    'body': '\\\\mathit{$1}$0'
  'math boldface':
    'prefix': 'bf'
    'body': '\\\\mathbf{$1}$0'
  'math blackboard':
    'prefix': 'bb'
    'body': '\\\\mathbb{$1}$0'
  'math roman':
    'prefix': 'rm'
    'body': '\\\\mathrm{$1}$0'
  'math sans-serif':
    'prefix': 'sf'
    'body': '\\\\mathsf{$1}$0'
  'math calligraphy':
    'prefix': 'cal'
    'body': '\\\\mathcal{$1}$0'
  'fraction':
    'prefix': 'frac'
    'body': '\\\\frac{$1}{$2}$0'
  'aligned':
    'prefix': 'aligned'
    'body': '\\\\begin{aligned}$1\n\t$0\n\\\\end{aligned}'
  'gathered':
    'prefix': 'gathered'
    'body': '\\\\begin{gathered}$1\n\t$0\n\\\\end{gathered}'
  'matrix':
    'prefix': 'matrix'
    'body': '\\\\begin{$1matrix$2}$3\n\t$0\n\\\\end{$1matrix$2}'

# Beamer
'.text.tex.latex.beamer':
  'Frame':
    'prefix': 'frame'
    'body': '\\\\begin{frame}[t]{${1:title}}\n\t${2:body}\n\\\\end{frame}\n%--- Next Frame ---%'
  'Columns':
    'prefix': 'cols'
    'body': '\\\\begin{columns}\n\\\\begin{column}[T]{$1cm}\n$3\n\\\\end{column}\n\\\\hfill\n\\\\begin{column}[T]{$2cm}\n\n\\\\end{column}\n\\\\end{columns}\n'


# other
'.text.tex.latex .meta.function.environment.list':
  '\\\\item[description]':
    'prefix': 'itd'
    'body': '\\\\item[${1:description}] ${0:item}'
