'.text.tex.latex':
# Document level
  'Part':
    'prefix': 'part'
    'body': '\\paragraph{${1:part name}}\n\\label{part:${2:part label}}\n$3'
  'Chapter':
    'prefix': 'cha'
    'body': '\\chapter{${1:chapter name}}\n\\label{chap:${2:chapter label}}\n$3'
  'Section':
    'prefix': 'sec'
    'body': '\\section{${1:section name}}\n\\label{sec:${2:section label}}\n$3'
  'Sub Section':
    'prefix': 'sub'
    'body': '\\subsection{${1:subsection name}}\n\\label{sub:${2:subsection label}}\n$3'
  'Sub Sub Section':
    'prefix': 'subs'
    'body': '\\subsubsection{${1:subsubsection name}}\n\\label{subs:${2:subsubsection label}}\n$3'
  'Paragraph':
    'prefix': 'par'
    'body': '\\paragraph{${1:paragraph name}}\n\\label{par:${2:paragraph label}}\n$3'
  'Sub Paragraph':
    'prefix': 'subp'
    'body': '\\subparagraph{${1:subparagraph name}}\n\\label{subp:${2:subparagraph label}}\n$3'

# Environement
  'Align(ed)':
    'prefix': 'ali'
    'body': '\\begin{align}\n\t$1\n\\end{align}'
  'Description':
    'prefix': 'desc'
    'body': '\\begin{description}\n\t\\item[$1]$2\n\\end{description}'
  'Enumerate':
    'prefix': 'enum'
    'body': '\\begin{enumerate}\n\t\\item $1\n\\end{enumerate}'
  'Itemize':
    'prefix': 'item'
    'body': '\\begin{itemize}\n\t\\item $1\n\\end{itemize}'
  'Split':
    'prefix': 'spl'
    'body': '\\begin{split}\n\t$0\n\\end{split}'
  'Equation':
    'prefix': 'eq'
    'body': '\\begin{equation}\n\t$0\n\\end{equation}'
  'Gather(ed)':
      'prefix': 'gat'
      'body': '\\begin{gather}\n\t$0\n\\end{gather}'
  'Cases':
      'prefix': 'cas'
      'body': '\\begin{cases}\n\t${1:equation}, &\\text{ if }${2:case}\\\\\n\t$0\n\\end{cases}'

# Element
  'Figure':
    'prefix': 'figure'
    'body': 'Figure~\\ref{$1} $2'
  'Listing':
    'prefix': 'listing'
    'body': '${1:Listing}~\\ref{${2:lst:}}$0'
  'Page':
    'prefix': 'page'
    'body': '${1:page}~\\pageref{$2}$0'
  'Table':
    'prefix': 'table'
    'body': '${1:Table}~\\ref{${2:tab:}}$0'
  'Display Math — \\[ … \\]':
    'prefix': '$$'
    'body': '\\[\n\t$1\n\\]'

# Other
'.text.tex.latex.beamer':
  'Frame':
    'prefix': 'frame'
    'body': '\\begin{frame}[t]{${1:title}}\n\t${2:body}\n\\end{frame}\n%--- Next Frame ---%'
'.text.tex.latex .meta.function.environment.list':
  '\\item[description]':
    'prefix': 'itd'
    'body': '\\item[${1:description}] ${0:item}'

# Unusable : Not yet placeholder duplication (e.g., \begin{$1} ... \end{$1})
# More info : https://github.com/atom/snippets/issues/17
  '\\begin{}…\\end{}':
    'prefix': 'begin'
    'body': '\\\\begin{${1:env}}\n\t${1/(enumerate|itemize|list)|(description)|.*/(?1:\\item )(?2:\\item)/}$0\n\\\\end{${1:env}}'
  'Matrix':
    'prefix': 'mat'
    'body': '\\begin{${1:p/b/v/V/B/small}matrix}\n\t$0\n\\end{${1:p/b/v/V/B/small}matrix}'
  'Tabular':
    'prefix': 'tab'
    'body': '\\\\begin{${1:t}${1/(t)$|(a)$|(.*)/(?1:abular)(?2:rray)/}}{${2:c}}\n$0${2/((?<=[clr])([ |]*(c|l|r)))|./(?1: & )/g}\n\\\\end{${1:t}${1/(t)$|(a)$|(.*)/(?1:abular)(?2:rray)/}}'
