'.text.tex':
  'editor':
    'foldEndPattern': '\\*\\*/|^\\s*\\}'
    'commentStart': '% '
'.text.bibtex':
  'editor':
    'foldEndPattern': '^\\s*[)}]\\s*$'
'.text.tex.latex':
  'editor':
    'increaseIndentPattern': '^\\s*\\\\begin\\{(?!document).*\\}'
    'decreaseIndentPattern': '^\\s*\\\\end(\\{(?!document).*\\})?$'
    'completions': [
      'corollary'
      'definition'
      'description'
      'enumerate'
      'equation'
      'itemize'
      'lemma'
      'proof'
      'proposition'
      'verbatim'
    ]
'.text.log.latex':
  'editor':
    'foldEndPattern': '\\*\\*/|^\\s*\\)'
